.container{
  background-color: #ffff99; 
  font-family: 'Open Sans', sans-serif; 
  padding-bottom:30px; 
}

.inputer{
    padding: .5em .6em;
    display: inline-block;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #67BCDB;
    border-radius: 4px;
    vertical-align: middle;
}

html{  
  background-color: #67BCDB; 
}