<!DOCTYPE html>
<html>
<head>
    
<title>RunMate</title>
    <link rel="stylesheet" type ="text/css" href="Run_app.css"/> 
    
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag 'Run_app.css' %> 
</head>
    
<body>
   
  
    <!-- Nav Start -->
    <div class="bigcontainer">
 <div class="container">
   <%=flash[:message] %>
         
            <div class="content">
              
                <ul class="ca-menu">
                    <li>
                        <a href="#">
                            <span class="ca-icon">Z</span>
                            <div class="ca-content">
                                <h2 class="ca-main">Home</h2>
                                <h3 class="ca-sub">Personalized to your needs</h3>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="ca-icon">?</span>
                            <div class="ca-content">
                                <h2 class="ca-main">Find A Group</h2>
                                <h3 class="ca-sub">Advanced use of technology</h3>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="ca-icon" id="heart">Q</span>
                            <div class="ca-content">
                                <h2 class="ca-main">Make A Group</h2>
                                <h3 class="ca-sub">Understanding visually</h3>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="ca-icon">N</span>
                            <div class="ca-content">
                                <h2 class="ca-main">Run Free!</h2>
                                <h3 class="ca-sub">Professionals in action</h3>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="ca-icon">U</span>
                            <div class="ca-content">
                                <h2 class="ca-main">Contact us</h2>
                                <h3 class="ca-sub">24/7 for you needs</h3>
                            </div>
                        </a>
                    </li>
                </ul>
            </div><!-- content -->
        </div>
        </div>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>

      <!-- Nav End -->
    
    <div class ="container-text">
        <div class ="first-container">
        <div class="row">
            <div class="col-md-12">
            
            <h1 class="title">Run Mate Mission</h1>
            
            
            </div>
            
        </div>
        <div class="row">
            
        <div class="col-md-12">
            <p class="description">The meaning of life is a philosophical and spiritual question concerning the significance of living or existence in general. It can also be expressed in different forms, such as "What should I do?", "Why are we here?", "What is life all about?", and "What is the purpose of existence?" or even "Does life exist at all?" It has been the subject of much philosophical, scientific, and theological speculation throughout history. There have been a large number of proposed answers to these questions from many different cultural and ideological backgrounds.

The meaning of life is in the philosophical and religious conceptions of existence, social ties, consciousness, and happiness, and borders on many other issues, such as symbolic meaning, ontology, value, purpose, ethics, good and evil, free will, the existence of one or multiple gods, conceptions of God, the soul, and the afterlife. Scientific contributions focus primarily on describing related empirical facts about the universe, exploring the context and parameters concerning the 'how' of life. Science also studies and can provide recommendations for the pursuit of well-being and a related conception of morality. An alternative, humanistic approach poses the question "What is the meaning of my life?" The value of the question pertaining to the purpose of life may coincide with the achievement of ultimate reality, or a feeling of oneness, or even a feeling of fearness.</p>
            
            
            
            
            </div>
        
        
        </div>
            </div>
        <div class ="second-container">
    <div class="row">
        <div class="col-md-12">
        <h1 class="title">Recent News</h1>
        <p class="description">The meaning of life is a philosophical and spiritual question concerning the significance of living or existence in general. It can also be expressed in different forms, such as "What should I do?", "Why are we here?", "What is life all about?", and "What is the purpose of existence?" or even "Does life exist at all?" It has been the subject of much philosophical, scientific, and theological speculation throughout history. There have been a large number of proposed answers to these questions from many different cultural and ideological backgrounds.
</p>
            
        </div>
        </div>
        </div>
    <div class= "third-container">
        <div class="row">
        <div class="col-md-12">
        <h1 class="title">Social Media</h1>
        <p class="description">The meaning of life is a philosophical and spiritual question concerning the significance of living or existence in general. It can also be expressed in different forms, such as "What should I do?", "Why are we here?", "What is life all about?", and "What is the purpose of existence?" or even "Does life exist at all?" It has been the subject of much philosophical, scientific, and theological speculation throughout history. There have been a large number of proposed answers to these questions from many different cultural and ideological backgrounds.
</p>
        </div>
        </div>
    </div>
    
    </div>

</body>
</html>